<article class='video jumbotron'>
  <section class='video-thumbnail'>
    <a href=<%= video.url %>>
      <%= image_tag video.thumbnail %>
    </a>
  </section>
  <hr>
  <section class='video-title'>
    <%= video.title %>
  </section>
  <section class='video-summary'>
    <%= video.summary %>
  </section>
</article>
