<section class='post'>
  <section class='title'>
    <%= @post.title %>
  </section>
  <section class='date'>
    <%= @timestamp  %>
  </section>
  <hr>
  <section class='body'>
    <%= @post.content %>
  </section>
</section>
