<section class='post'>
  <section class='title'>
    <%= @post.title %>
  </section>
  <section class='date'>
    <%= @post.display_time  %>
  </section>
  <hr>
  <section class='body'>
    <%= @post.content.html_safe %>
  </section>
</section>
