<section class='feed'>
  <% @posts.each do |post| %>
    <article class='post jumbotron'>
        <section class='post-title'>
          <a href=<%= 'news/' + post.id.to_s %>
            <h2><strong><%= post.title %></strong></h2>
          </a>
        </section>
      <hr>
      <section class='post-date'>
        <p><%= @timestamp %></p>
      </section>
      <section class='post-body'>
        <%= post.summary %>
      </section>
    </article>
  <% end %>
</section>
