<div class='promo'>
  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Welcome to Mr.Beeken.com!
      </header>
      <article class='promo-blurb-body'>
        Mr.Beeken is a Youtube channel that aims to teach basic music theory in a fun and practical way.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <%= video_tag('intro.mp4', autoplay: true, loop: true) %>
    </article>
  </article>

  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Watch and learn, folks… and laugh
      </header>
      <article class='promo-blurb-body'>
        Amongst a sea of boring music tutorials, Mr. Beeken’s videos are fun,
        fast paced and jam packed with educational content.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <%= video_tag('teaching.mp4', autoplay: true, loop: true) %>
    </article>
  </article>


  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Used by teachers
      </header>
      <article class='promo-blurb-body'>
        Teachers are using these videos more and more in their classroom to bring humor to a traditionally difficult subject.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <%= video_tag('solfege.mp4', autoplay: true, loop: true) %>
    </article>
  </article>

  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Intended for teens but safe for anyone
      </header>
      <article class='promo-blurb-body'>
        There is no swearing or (inappropriately) dark themes in Mr. Beeken. However, these lessons intended for ages 12 to infinity so expect satire, sarcasm, parody and panache.
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <%= video_tag('why.mp4', autoplay: true, loop: true) %>
    </article>
  </article>

  <article class='promo-blurb'>
    <header class='promo-blurb-left'>
      <header class='promo-blurb-title'>
        Well, check it out already!
      </header>
      <article class='promo-blurb-body'>
      </article>
    </header>
    <article class='promo-blurb-photo'>
      <iframe src="https://www.youtube.com/embed/Qkuqjrwlkxk" frameborder="0" allowfullscreen></iframe>
    </article>
  </article>
</div>
