.post {
  .title {
    margin: 30px;
  }
  .photo {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .timestamp {
    color: #7f7f7f;
    text-align: center;
  }
  .content {
    margin: 30px 1vw;
    font-size: 18px;
    font-family: 'Merriweather';
  }
}

.edit-form {
  width: 100%;
  text-align: center;
  .edit-title {
    width: 50%;
    margin: 10px;
  }
  .edit-summary {
    width: 50%;
    margin: 10px;
  }
  .edit-content {
    width: 50%;
    height: 800px;
    margin: 10px;
  }
  .edit-thumbnail {
    width: 50%;
    margin: 10px;
  }
}

.jumbotron {
  margin: 1vw !important;
  padding: 1vw !important;
}

.post-preview {
  font-family: 'Merriweather';
  hr {
    margin: 1vw 0px;
  }
  .post-descriptions {
    .post-title {
      a {
        text-decoration: none;
      }
      font-size: 3vw;
    }
    .post-date {
      font-size: 1.5vw;
    }
    .post-summary {
      padding-top: 0.5vw;
      font-size: 2vw;
    }
  }
  .post-thumbnail {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1vw;
    img {
      width: 100%;
      height: auto;
      border-radius: 1vw;
    }
  }
  &:hover {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #969696;
  }
}


.featured {
  .post-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    .post-title {
      height: 9vw;
    }
    .post-descriptions {
      width: 70%;
    }
    .post-thumbnail {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      margin: 0px 0.5vw;
      img {
        max-height: 30vw;
        max-width: 100%;
        width: auto;
      }
    }
  }
}

.past-articles {
  .post-preview {
    height: 10vw;
    .post-descriptions {
      width: 80%;
      float: left;
      .post-title {
        font-size: 2vw;
      }
      .post-date {
        font-size: .75vw;
      }
      .post-summary {
        font-size: 1vw;
      }
    }
    .post-thumbnail {
      width: 17%;
      float: left;
      img {
        float: left;
        height: 10vw;
        width: auto;
      }
    }
  }
}
