.post-preview {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  &:hover {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #969696;
  }
}
.post-body p {
  font-size: 18px !important;
}
.post-date p {
  font-size: 13px !important;
}

.post-title {
  font-size: 30px;
  a {
    text-decoration: none;
  }
}

.post {
  .title {

  }
  .date {
    color: #7f7f7f;
    text-align: center;
  }
}

.edit-form {
  width: 100%;
  text-align: center;
  .edit-title {
    width: 50%;
    margin: 10px;
  }
  .edit-summary {
    width: 50%;
    margin: 10px;
  }
  .edit-content {
    width: 50%;
    height: 800px;
    margin: 10px;
  }
}
