.post {
  .title {
    margin: 30px;
  }
  .photo {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .misc-info {
    color: #7f7f7f;
    width: 100%;
    float: left;
    .timestamp {
      float: right;
    }
    .author {
      float: left;
    }
  }
  .social {
    .social-button {
      margin: 1vw;
      float: left;
    }
  }
  .content {
    margin: 30px 1vw;
    font-size: 18px;
    font-family: 'Merriweather';
  }
}

.edit-form {
  width: 100%;
  text-align: center;
  .edit-title {
    width: 50%;
    margin: 10px;
  }
  .edit-summary {
    width: 50%;
    margin: 10px;
  }
  .edit-content {
    width: 50%;
    height: 800px;
    margin: 10px;
  }
  .edit-thumbnail {
    width: 50%;
    margin: 10px;
  }
}

.jumbotron {
  margin: 1vw;
  padding: 1vw;
}

.post-preview {
  font-family: 'Merriweather';
  hr {
    margin: 1vw 0px;
  }
  .post-descriptions {
    .post-title {
      a {
        text-decoration: none;
      }
      font-size: 3vw;
    }
    .post-date {
      color: #7f7f7f;
      width: 100%;
      text-align: left;
      font-size: 1.3vw;
    }
    .post-summary {
      padding-top: 0.5vw;
      font-size: 1.5vw;
    }
  }
  .post-thumbnail {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1vw;
    img {
      width: 100%;
      height: auto;
      border-radius: 1vw;
    }
  }
  &:hover {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #969696;
  }
}


.featured {
  .post-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    .post-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5vw;
      text-align: center;
      font-size: 2vw;
    }
    .post-descriptions {
      width: 70%;
    }
    .post-thumbnail {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      margin: 0px 0.5vw;
      img {
        max-height: 30vw;
        max-width: 100%;
        width: auto;
      }
    }
  }
}

.past-articles {
  margin: 2vw 0px;
  width: 66%;
  .post-preview {
    height: 10vw;
    .post-descriptions {
      float: right;
      width: 67%;
      .post-title {
        font-size: 2vw;
      }
      .post-date {
        font-size: .75vw;
      }
      .post-summary {
        font-size: 1vw;
      }
    }
    .post-thumbnail {
      margin-left: 2vw;
      width: 17%;
      float: left;
      img {
        float: left;
        height: 10vw;
        width: auto;
      }
    }
  }
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-title {
  width: 50%;
  font-family: 'Oswald';
}

.email-subscription-form {
  font-size: 1vw;
  width: 30%;
  height: 6vw;
  float: right;
  .email-label {
    width: 100%;
  }
  .jumbotron {
    margin: 0px;
  }
  &:hover {
    box-shadow: 2.5px 2.5px 2.5px 2.5px #969696;
  }
  input {
    font-size: 1vw;
    width: 10vw;
  }
  .submit-button {
    float: right;
    font-size: 1vw;
    input {
      float: right;
      width: 8vw;
    }
  }
}
